body {
  outline: 5px solid red;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 24px;
}
#datetime-picker:hover:not(:disabled) {
  border-color: #000000;
}
#datetime-picker:active:not(:disabled) {
  border-color: #4e75ff;
}
#datetime-picker:disabled {
  border-color: #808080;
}

button[data-start] {
  width: 75px;
  height: 40px;
  margin-left: 8px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

button[data-start]:hover:not(:disabled) {
  background-color: #6c8cff;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  color: #2e2f42;
}

.label {
  margin-top: 4px;
  font-size: 16px;
  text-transform: uppercase;
  color: #2e2f42;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.flatpickr-calendar {
  border-radius: 8px;
  border: none;
  background-color: #f5f5f5;

  font-family: inherit;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  width: 16px;
  height: 16px;
}

.flatpickr-weekdays {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.flatpickr-day {
  border-radius: 50%;
  color: #666666;
}

.flatpickr-day:hover {
  background: #c1c1c1;
}

.flatpickr-day.selected {
  background-color: transparent;
  border-color: #4e75ff;
  color: #666666;
}

.flatpickr-time input:hover,
.flatpickr-time input:focus {
  background: #e6ecff;
}
